.project-details {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
}

.project-details h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 100px;
}
.description{
    margin-bottom: 15px;
    color: var(--muted);
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 600;
}

.project-details img {
    width: 100%;
    border-radius: var(--radius);
    margin-bottom: 30px;
}

.project-details p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--text);
    margin-bottom: 30px;
}

#project-technologies h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

#tech-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}

#tech-list li {
    background-color: var(--bg);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.cta-button {
    display: inline-block;
    font-size: 18px;
}
.project-details {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
    align-items: center;
}

.project-details h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.project-main-image {
    margin-bottom: 30px;
    background-color: #f0f0f2;
    border-radius: var(--radius);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.project-main-image img {
    width: 70%;
    border-radius: 12px;
    object-fit: contain;
}

.project-details p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--text);
    margin-bottom: 30px;
}

#project-technologies h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

#tech-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}

#tech-list li {
    background-color: var(--bg);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.project-screenshots {
    margin-top: 30px;
    margin-bottom: 30px;
}

.project-screenshots h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

#screenshots-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

#screenshots-container img {
    width: calc(33.333% - 10px);
    max-width: 250px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease;
    background-color: #f0f0f2;
    padding: 10px;
    object-fit: contain;
}

#screenshots-container img:hover {
    transform: scale(1.05);
}

.cta-button {
    display: inline-block;
    font-size: 18px;
}

@media (max-width: 768px) {
    .project-details h1 {
        font-size: 28px;
    }

    .project-details p {
        font-size: 16px;
    }

    #screenshots-container img {
        width: calc(50% - 7.5px);
    }
}

#screenshots-container img:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    #screenshots-container img {
        width: calc(50% - 7.5px);
    }
}
@media (max-width: 768px) {
    .project-details h1 {
        font-size: 28px;
    }

    .project-details p {
        font-size: 16px;
    }
}
